<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="First Test Suite" >
    <test name="Chrome Test ">
        <parameter name="browser" value="chrome"></parameter>
        <groups>
            <run>
                <include name="jenkinsDemo"></include>
            </run>
        </groups>
        <classes>
            <!--class name="in.podtest.LoginTest"/-->
            <class name="in.podtest.LoginTest"/>
        </classes>
    </test>
</suite>
